{% extends 'base.html.twig' %}

{% block body %}
<section class="row">
    <h1 class="title">Welcome to DevBlog !</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam similique veritatis neque itaque. Nam sunt deserunt laudantium ullam culpa, rerum quas quibusdam error impedit, at rem? Ut mollitia minus amet asperiores quod voluptate ipsam! Vel quo laboriosam dolor enim exercitationem ipsam! Ipsum repudiandae architecto beatae similique in ea laborum mollitia?</p>
</section>
<section class="row">
    <p><small>We are using the controller : {{controller_name}} </small></p>
   {# Voici un commentaire #}
</section>

{% endblock %}